# Introduction to Pandas

Complete the following set of exercises to solidify your knowledge of Pandas fundamentals.

#### 1. Import Numpy and Pandas and alias them to `np` and `pd` respectively.

In [79]:
# your code here

import numpy as np
import pandas as pd

#below to be used always at the begining - to get information about data sets

#data_1.info() #essential info
#data_1.shape() #shape of table

#### 2. Create a Pandas Series containing the elements of the list below.

In [80]:
lst = [5.7, 75.2, 74.4, 84.0, 66.5, 66.3, 55.8, 75.7, 29.1, 43.7]

In [81]:
# your code here

data_1 = pd.Series(lst)

data_1

0     5.7
1    75.2
2    74.4
3    84.0
4    66.5
5    66.3
6    55.8
7    75.7
8    29.1
9    43.7
dtype: float64

#### 3. Use indexing to return the third value in the Series above.

*Hint: Remember that indexing begins at 0.*

In [82]:
# your code here

data_1[2]

74.4

#### 4. Create a Pandas DataFrame from the list of lists below. Each sublist should be represented as a row.

In [83]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

In [84]:
# your code here

data_2 = pd.DataFrame(b)

data_2

data_3 = data_2

#### 5. Rename the data frame columns based on the names in the list below.

In [85]:
colnames = ['Score_1', 'Score_2', 'Score_3', 'Score_4', 'Score_5']

In [86]:
a=data_2.columns.tolist()
print(a)

[0, 1, 2, 3, 4]

In [87]:
# your code here

data_3.columns=colnames

data_3

   Score_1  Score_2  Score_3  Score_4  Score_5
0     53.1     95.0     67.5     35.0     78.4
1     61.3     40.8     30.8     37.8     87.6
2     20.6     73.2     44.2     14.6     91.8
3     57.4      0.1     96.1      4.2     69.5
4     83.6     20.5     85.4     22.8     35.9
5     49.0     69.0      0.1     31.8     89.1
6     23.3     40.7     95.0     83.8     26.9
7     27.6     26.4     53.8     88.8     68.5
8     96.6     96.4     53.4     72.4     50.1
9     73.7     39.0     43.2     81.6     34.7

In [90]:
data_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Score_1  10 non-null     float64
 1   Score_2  10 non-null     float64
 2   Score_3  10 non-null     float64
 3   Score_4  10 non-null     float64
 4   Score_5  10 non-null     float64
dtypes: float64(5)
memory usage: 528.0 bytes

#### 6. Create a subset of this data frame that contains only the Score 1, 3, and 5 columns.

In [89]:
# your code here

data_4 = data_3[[0, 2, 4]]

data_4

KeyError: ignored

#### 7. From the original data frame, calculate the average Score_3 value.

In [91]:
# your code here

#data_4.mean(axis =0)

data_4['Score_3'].mean()

KeyError: ignored

#### 8. From the original data frame, calculate the maximum Score_4 value.

In [ ]:
# your code here

#### 9. From the original data frame, calculate the median Score 2 value.

In [ ]:
# your code here

#### 10. Create a Pandas DataFrame from the dictionary of product orders below.

In [ ]:
orders = {'Description': ['LUNCH BAG APPLE DESIGN',
  'SET OF 60 VINTAGE LEAF CAKE CASES ',
  'RIBBON REEL STRIPES DESIGN ',
  'WORLD WAR 2 GLIDERS ASSTD DESIGNS',
  'PLAYING CARDS JUBILEE UNION JACK',
  'POPCORN HOLDER',
  'BOX OF VINTAGE ALPHABET BLOCKS',
  'PARTY BUNTING',
  'JAZZ HEARTS ADDRESS BOOK',
  'SET OF 4 SANTA PLACE SETTINGS'],
 'Quantity': [1, 24, 1, 2880, 2, 7, 1, 4, 10, 48],
 'UnitPrice': [1.65, 0.55, 1.65, 0.18, 1.25, 0.85, 11.95, 4.95, 0.19, 1.25],
 'Revenue': [1.65, 13.2, 1.65, 518.4, 2.5, 5.95, 11.95, 19.8, 1.9, 60.0]}

In [ ]:
# your code here

#### 11. Calculate the total quantity ordered and revenue generated from these orders.

In [ ]:
# your code here

#### 12. Obtain the prices of the most expensive and least expensive items ordered and print the difference.

In [ ]:
# your code here